@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    font-family: "Poppins", sans-serif !important;
}

.user-info h3{
  font-size: 1.3rem;
  margin-top: 1rem;
}

.user-info p{
  font-size: 1rem;
  color: gray;
}

.navlist ul{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.navlist ul li{
  font-size: 2rem;
  color: gray;
}

.navlist ul li:hover{
  color: white;
}

/* UserInput */

.userInput{
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 500px;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.userInput h1{
  font-size: 3rem;
}
.userInput p{
  font-size: 1.5rem;
}
.userInput input{
  font-size: 2rem;
  padding: 0.5rem 2rem;
  border-radius: 50px;
  min-width: 300px;
}